# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /
#   RewriteRule ^index\.html$ - [L]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-l
#   RewriteRule . /index.html [L]
# </IfModule>
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:mintbox.ai
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP_HOST} (www\.)?mintbox.ai
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
# DO NOT REMOVE THIS LINE AND THE LINES BELLOW SSL_REDIRECT:mintbox.ai

<IfModule mod_rewrite.c>
     RewriteEngine on
     # Don’t rewrite files or directories
     RewriteCond %{REQUEST_FILENAME} -f [OR]
     RewriteCond %{REQUEST_FILENAME} -d
     RewriteRule ^ – [L]
     # Rewrite everything else to index.html to allow html5 state links
     RewriteRule ^ index.html [L]
 </IfModule>
 
# <IfModule mod_rewrite.c>
#   RewriteEngine On
#   RewriteBase /blog
#   RewriteRule ^/blog/index\.php$ - [L]
#   RewriteCond %{REQUEST_FILENAME} !-f
#   RewriteCond %{REQUEST_FILENAME} !-d
#   RewriteCond %{REQUEST_FILENAME} !-l
#   RewriteRule . /blog/index.php [L]
# </IfModule>